<!DOCTYPE html>
<html>
<head>
	<title>WORD GAME</title>
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<%= yield %>

	<div class="bottom">
		<p><a href="/newgame">*start over?*</a></p>
	</div>
</body>
</html>