<!DOCTYPE html>
<html>
<head>
	<title>hangman</title>
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<%= yield %>
</body>
</html>